## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;


## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons "blinkey", "flash", "power", "gpdi" sheet
LOCATE COMP "rst_n" SITE "D6";  # BTN_PWRn (inverted logic)
IOBUF  PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons "blinkey", "flash", "power", "gpdi" sheet
LOCATE COMP "key[0]" SITE "R18"; # UP W1->R18
LOCATE COMP "key[1]" SITE "V1";  # DOWN
LOCATE COMP "key[2]" SITE "H16";  # RIGHT Y2->H16
LOCATE COMP "key[3]" SITE "U1"; # LEFT
IOBUF  PORT "key[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "key[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "key[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "key[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;


# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "B16"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "C14"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "A13"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "B18"; # Clock -
LOCATE COMP "gpdi_ethp" SITE "A19"; # Ethernet +
LOCATE COMP "gpdi_ethn" SITE "B20"; # Ethernet -
LOCATE COMP "gpdi_cec" SITE "A18";
LOCATE COMP "gpdi_sda" SITE "B19"; # I2C shared with RTC
LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


## SDRAM "ram" sheet
LOCATE COMP "sdram_clk" SITE "F19";
LOCATE COMP "sdram_cke" SITE "F20";
LOCATE COMP "sdram_cs_n" SITE "P20";
LOCATE COMP "sdram_we_n" SITE "T20";
LOCATE COMP "sdram_ras_n" SITE "R20";
LOCATE COMP "sdram_cas_n" SITE "T19";
LOCATE COMP "sdram_addr[0]" SITE "M20";
LOCATE COMP "sdram_addr[1]" SITE "M19";
LOCATE COMP "sdram_addr[2]" SITE "L20";
LOCATE COMP "sdram_addr[3]" SITE "L19";
LOCATE COMP "sdram_addr[4]" SITE "K20";
LOCATE COMP "sdram_addr[5]" SITE "K19";
LOCATE COMP "sdram_addr[6]" SITE "K18";
LOCATE COMP "sdram_addr[7]" SITE "J20";
LOCATE COMP "sdram_addr[8]" SITE "J19";
LOCATE COMP "sdram_addr[9]" SITE "H20";
LOCATE COMP "sdram_addr[10]" SITE "N19";
LOCATE COMP "sdram_addr[11]" SITE "G20";
LOCATE COMP "sdram_addr[12]" SITE "G19";
LOCATE COMP "sdram_ba[0]" SITE "P19";
LOCATE COMP "sdram_ba[1]" SITE "N20";
LOCATE COMP "sdram_dqm[0]" SITE "U19";
LOCATE COMP "sdram_dqm[1]" SITE "E20";
LOCATE COMP "sdram_dq[0]" SITE "J16";
LOCATE COMP "sdram_dq[1]" SITE "L18";
LOCATE COMP "sdram_dq[2]" SITE "M18";
LOCATE COMP "sdram_dq[3]" SITE "N18";
LOCATE COMP "sdram_dq[4]" SITE "P18";
LOCATE COMP "sdram_dq[5]" SITE "T18";
LOCATE COMP "sdram_dq[6]" SITE "T17";
LOCATE COMP "sdram_dq[7]" SITE "U20";
LOCATE COMP "sdram_dq[8]" SITE "E19";
LOCATE COMP "sdram_dq[9]" SITE "D20";
LOCATE COMP "sdram_dq[10]" SITE "D19";
LOCATE COMP "sdram_dq[11]" SITE "C20";
LOCATE COMP "sdram_dq[12]" SITE "E18";
LOCATE COMP "sdram_dq[13]" SITE "F18";
LOCATE COMP "sdram_dq[14]" SITE "J18";
LOCATE COMP "sdram_dq[15]" SITE "J17";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cs_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_we_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ras_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cas_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_addr[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;



## OV7670 I/O
LOCATE COMP "cmos_sda" SITE "U18"; # J2_5+  GP14
LOCATE COMP "cmos_scl" SITE "U17"; # J2_5-  GN14
LOCATE COMP "cmos_href" SITE "N17"; # J2_7+  GP15
LOCATE COMP "cmos_vsync" SITE "P16"; # J2_7-  GN15
LOCATE COMP "cmos_pclk" SITE "N16"; # J2_9+  GP16
LOCATE COMP "cmos_xclk" SITE "M17"; # J2_9-  GN16
LOCATE COMP "cmos_pwdn" SITE "L16"; # J2_11+ GP17
LOCATE COMP "cmos_rst_n" SITE "L17"; # J2_11- GN17

LOCATE COMP "cmos_db[6]" SITE "C18"; # J2_23+ GP21
LOCATE COMP "cmos_db[7]" SITE "D17"; # J2_23- GN21
LOCATE COMP "cmos_db[4]" SITE "B15"; # J2_25+ GP22 D15->B15
LOCATE COMP "cmos_db[5]" SITE "C15"; # J2_25- GN22 E15->C15
LOCATE COMP "cmos_db[2]" SITE "B17"; # J2_27+ GP23
LOCATE COMP "cmos_db[3]" SITE "C17"; # J2_27- GN23
LOCATE COMP "cmos_db[0]" SITE "C16"; # J2_29+ GP24
LOCATE COMP "cmos_db[1]" SITE "D16"; # J2_29- GN24

IOBUF PORT  "cmos_sda"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_scl"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_href"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_vsync" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_pclk"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_xclk"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_pwdn"  PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_rst_n" PULLMODE=NONE IO_TYPE=LVCMOS33;

IOBUF PORT  "cmos_db[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT  "cmos_db[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
